CONTROL_ROUTER = wippy.control:api
SESSION_ROUTER = app:api

ENABLE_INTEGRATION_TESTS=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=

DOCUMENT_LOADERS_HOST=localhost:8600

VERTEX_AI_LOCATION=
VERTEX_AI_PROJECT=
VERTEX_AI_CLIENT_EMAIL=
VERTEX_AI_PRIVATE_KEY_ID=
VERTEX_AI_PRIVATE_KEY=base64-encoded-private-key

APP_SRC = ./src
APP_FS = app:fs
CONTROL_TERMINAL = app:terminal
APP_DB = app:db
APP_HOST = app:processes
TERMINAL_HOST = app:terminal
UPLOAD_STORAGE_ID = app:uploads

# Auth
OAUTH_CLIENT_ID =
OAUTH_SUBDOMAIN =
OAUTH_CLIENT_SECRET =
OAUTH_REDIRECT_URI =

# UI
APP_BASE_URL = http://localhost:8080
APP_WS_URL = ws://localhost:8080
APP_IFRAME_ORIGIN = https://front.wippy.ai

#s3 uploads
AWS_ACCESS_KEY_ID =
AWS_ACCESS_SECRET_KEY =

# Postgresql default
POSTGRESQL_DEFAULT_HOST = localhost
POSTGRESQL_DEFAULT_PORT = 5432
POSTGRESQL_DEFAULT_DATABASE = postgres
POSTGRESQL_DEFAULT_USERNAME = postgres
POSTGRESQL_DEFAULT_PASSWORD = postgres
FILE_TEST_ENV=new_file_value_env
FILE_TEST_ENV_READONLY=file_value_readonly

ENV_TOKEN_KEY=test-token-key-456
ACCESS_KEY_ID_CUSTOM = 123
FILE_TEST_ENV2 = 234
